/* LANDING PAGE (INDEX) STYING */
.title{
  font-family: 'roboto mono', monospace;
}
.welcome{
  text-align: center !important;
}

/* DASHBOARD STYLING */
body {
      background-color: #fafafa ;
    }
    /* All cards needed padding */
.card{
      padding: 10%
    }
.extended-content-container{
  text-align: center;
}

#title2{
  font-family: 'Roboto Mono', monospace;
  text-align: left;
}
#card2{

  height:3000px;
}
.property{
  width:25%;
  float: left;
}
.Propinfo{
  text-align:left;
  margin-left: 30%;
}
/* END OF DASHBOARD STYLING */

/* Footer */
footer{
  margin-top: 100%;
}
.footer-copyright{
  padding: 30%;
  letter-spacing: 8px;
  margin-left: 15%;
}

/* LOGIN FORM STYLING */



/* SIGN UP */

