/* LANDING PAGE (INDEX) STYING */
.title{
  font-family: 'roboto mono', monospace;
}
.welcome{
  text-align: center !important;
}

/* DASHBOARD STYLING */
body {
      background-color: #fafafa ;
    }
    /* All cards needed padding */
.card{
      padding: 10%
    }
.extended-content-container{
  text-align: center;
}

#title2{
  font-family: 'Roboto Mono', monospace;
  text-align: left;
}
#card2{

  height:3000px;
}
.property{
  width:25%;
  float: left;
}
.Propinfo{
  text-align:left;
  margin-left: 30%;
}
/* END OF DASHBOARD STYLING */

/* Footer */
footer{
  margin-top: 100%;
}
.footer-copyright{
  padding: 30%;
  letter-spacing: 8px;
  margin-left: 15%;
}

/* LOGIN FORM STYLING */

/* SIGN UP */

/*progressbar*/	
.container {	
	width: 100%;	
}	
.progressbar {  	
	counter-reset: lead;    	
}	
.progressbar li {	
	list-style-type: none;	
	float: left;	
	width: 20%;	
	position: relative;	
	text-align: center;	
}	
.progressbar li:before {	
	content: counter(lead);	
	counter-increment: lead;	
	width: 10px;	
	height: 10px;	
	line-height: 30px;	
	border: 1px solid #ddd;	
	display: block;	
	text-align: center;	
	margin: 0 auto 10px auto;	
	border-radius: 50%;	
	background-color: white;	
}	
.progressbar li:after {	
	content: '';	
	position: absolute;	
	width: 100%;	
	height: 1px;	
	background-color: #ddd;	
	top: 15px;	
	left: -50%;	
	z-index: -1;	
}	
.progressbar li:first-child:after {	
	content: none;	
}	
.progressbar li.active {	
	color: green;	
}	
.progressbar li.active:before {	
	border-color: green;	
}	
.progressbar li.active + li:after {	
	background-color: green;	
}	
#datepicker{	
	width: 100%;	
}	
#time{	
	width: 100%;	
	height: 25px;	
}	
  .container2 {	
	display: flex;	
	flex-wrap: wrap;	
	text-align: left;	
  }	

  .form-group-item {	
	padding: 2px;	
	flex: 50%;	
  }	
  .form-group-item {	
	padding: 2px;	
	flex: 0%;	
  }	


  .cst-nav {	
	background-color: #DB205F;	
  }	


  .links {	/* SIGN UP */
	color: white;	
  }	


  a.links:hover {	
	color: #64DD17;	
  }

