/* JACKIES NOTES SORRY KIND OF THE MOST CONVIENIENT PLACE FOR THEM AT THE MOMENT
Think smooth sleek user friendly 
User can see everything they need from the website on one page from the beginning
 and nothing should be jumbled together*/

/* Ideas for color palettes is something bright and inviting that highlights
the sites different functions and draws the users attention
SO FAR tied between a bright monochromatic look or really bright electric colors
also like the idea of having one central bold color following the user throughout the site
similar to the site COPPER inspiration for this site!!*/

/* LOGO DESIGN IS ON FIGMA WILL BE ADDED AS SOON AS THE REST OF THE SITE IS READY FOR IT */

/* LANDING PAGE (INDEX) STYING */
.title{
  font-family: 'roboto mono', monospace;
}
.welcome{
  text-align: center !important;
}

/* DASHBOARD STYLING */
body {
      background-color: #fafafa ;
    }
.extended-content-container{
  text-align: center;
}

#title2{
  font-family: 'Roboto Mono', monospace;
  text-align: left;
}
.card{
  padding: 3%;
  height:fit-content;
}

/* END OF DASHBOARD STYLING */

/* Footer */
footer{
  margin-top: 100%;
}
.footer-copyright{
  padding: 30%;
  letter-spacing: 8px;
  margin-left: 15%;
}
form.signup,
form.login {
  margin-top: 50px;
}
/*progressbar*/
.container {
	width: 100%;
}
.progressbar {  
	counter-reset: lead;    
}
.progressbar li {
	list-style-type: none;
	float: left;
	width: 20%;
	position: relative;
	text-align: center;
}
.progressbar li:before {
	content: counter(lead);
	counter-increment: lead;
	width: 10px;
	height: 10px;
	line-height: 30px;
	border: 1px solid #ddd;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}
.progressbar li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ddd;
	top: 15px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none;
}
.progressbar li.active {
	color: green;
}
.progressbar li.active:before {
	border-color: green;
}
.progressbar li.active + li:after {
	background-color: green;
}
#datepicker{
	width: 100%;
}
#time{
	width: 100%;
	height: 25px;
}
  .container2 {
	display: flex;
	flex-wrap: wrap;
	font-size: 10px;
	text-align: left;
  }
  
  .form-group-item {
	padding: 2px;
	flex: 50%;
  }
  .form-group-item {
	padding: 2px;
	flex: 0%;
  }
  h2 {
	  margin-top: 10rem;
  }